<div class="productFormPage p-5">
  <div class="container">
    <form [formGroup]="productForm" (submit)="formHandler($event)">


<div class="mb-3" id="productName">
  <label for="exampleInputEmail1" class="form-label">Product Name</label>
  <input type="text" class="form-control" id="productNameInput" aria-describedby="nameHelp" formControlName="productName" placeholder="Enter Product Name"/>
  
  <ng-container *ngIf="getProductName.touched">
    <div *ngIf="getProductName.hasError('required')" id="nameHelp" class="form-text text-danger">
      Product Name Is Required
    </div>

    <div *ngIf="getProductName.hasError('minlength')" id="nameHelp" class="form-text text-danger">
      Product Name Length must be 3 characters or more
    </div>
  </ng-container>

</div>

<div class="mb-3" id="productPrice">
  <label for="price" class="form-label"> Price</label>
  <input type="text" class="form-control" formControlName="price" id="priceInput" placeholder="Enter Product Price"/>
  
  <ng-container *ngIf="getPrice.touched">
    <div *ngIf="getPrice.hasError('required')" id="priceHelp" class="form-text text-danger">
      Product Price is Required
    </div>

    <div *ngIf="getPrice.hasError('min')" id="priceHelp" class="form-text text-danger">
      Product Price Minimum Value is 10
    </div>
  </ng-container>

</div>

<div class="mb-3" id="productQuantity">
  <label for="quantity" class="form-label"> Quantity</label>
  <input type="text" class="form-control" formControlName="quantity" id="quantityInput" placeholder="Enter Product Quantity"/>

  <ng-container *ngIf="getQuantity.touched">
    <div *ngIf="getQuantity.hasError('required')" id="quantityHelp" class="form-text text-danger">
      Product Quantity is required
    </div>
  </ng-container>

</div>

<div class="mb-3" id="productImage">
  <label for="image" class="form-label"> Image</label>
  <input type="text" class="form-control" formControlName="image" id="imageInput" placeholder="Enter Product Image"/>

  <ng-container *ngIf="getImage.touched">
    <div *ngIf="getImage.hasError('required')" id="imageHelp" class="form-text text-danger">
      Product Image is required
    </div>
  </ng-container>

</div>

<button type="submit" class="btn btn-outline-dark">
  {{ productId == 0 ? "Add Product" : "Edit Product" }}
</button>

    </form>
  </div>
</div>
