<!-- Start Carousel -->
<div class="position-relative">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="overlay"></div>
        <img src="assets/images/1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption text-light">
          <h1 class="mb-5">50 % OFF</h1>
          <p>DISCOVER OUR COLLECTION OF FASHIONABLE CLOTHING AND ACESSORIES</p>
          <a href="#" class="btn btn-outline-secondary">Shop now</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay"></div>
        <img src="assets/images/3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption text-light">
          <h1 class="mb-5">NEW ARRIVALS</h1>
          <p>CHECK OUT OUR LATEST COLLECTION OF FASHIONABLE CLOTHING AND ACESSORIES</p>
          <a href="#" class="btn btn-outline-secondary">Shop now</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- End Carousel -->

<!-- Start Categories of The Month -->
<section class="container py-4">
      <div class="row text-center pt-3">
          <div class="col-lg-6 m-auto">
              <h2 class="h1">Categories of The Month</h2>
              <p class="lead fs-6">
                Discover our top picks for the month in fashion, beauty, and more. <br> Shop now and elevate your style game!
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-4 p-5 mt-3">
              <a href="#"><img src="assets/images/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
              <h5 class="text-center mt-3 mb-3">Watches</h5>
              <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
          </div>
          <div class="col-12 col-md-4 p-5 mt-3">
              <a href="#"><img src="assets/images/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
              <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
              <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
          </div>
          <div class="col-12 col-md-4 p-5 mt-3">
              <a href="#"><img src="assets/images/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
              <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
              <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
          </div>
      </div>
</section>
<!-- End Categories of The Month -->

<!-- Start Featured Products -->
<section class="bg-light">
    <div class="container py-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h2 class="h1">Featured Products</h2>
                <p class="lead fs-6">
                    Check out our latest products, handpicked by our experts for their quality, style, and value. <br>
                    From trendy fashion to must-have gadgets, we've got you covered.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="assets/images/feature_prod_01.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                              <i class="text-warning bi bi-star-fill"></i>
                              <i class="text-warning bi bi-star-fill"></i>
                              <i class="text-warning bi bi-star-fill"></i>
                              <i class="text-warning bi bi-star-fill"></i>
                              <i class="text-muted bi bi-star-fill"></i>
                            </li>
                            <li class="text-muted text-right">$24.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Flashlight Torch</a>
                        <p class="card-text">
                            Illuminate Your Path with a Flashlight Torch.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="assets/images/feature_prod_02.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                              <i class="text-warning bi bi-star-fill"></i>
                              <i class="text-warning bi bi-star-fill"></i>
                              <i class="text-warning bi bi-star-fill"></i>
                              <i class="text-warning bi bi-star-fill"></i>
                              <i class="text-warning bi bi-star-fill"></i>
                            </li>
                            <li class="text-muted text-right">$48.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Smart Watch</a>
                        <p class="card-text">
                            Stay Connected with a Smart Watch on Your Wrist.
                        </p>
                        <p class="text-muted">Reviews (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="assets/images/feature_prod_03.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning bi bi-star-fill"></i>
                                <i class="text-warning bi bi-star-fill"></i>
                                <i class="text-warning bi bi-star-fill"></i>
                                <i class="text-warning bi bi-star-fill"></i>
                                <i class="text-muted bi bi-star-fill"></i>
                            </li>
                            <li class="text-muted text-right">$36.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Polaroid Camera</a>
                        <p class="card-text">
                            Capture Life's Moments with a Polaroid Camera
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Products -->

<!-- Start Section -->
<section class="container py-4">
      <div class="row text-center pt-5 pb-3">
          <div class="col-lg-6 m-auto">
              <h2 class="h1">Our Services</h2>
              <p class="lead fs-6">
                We're more than just a shopping website. We offer a range of services to make your experience enjoyable, including fast and free shipping, easy returns, and friendly customer support.
              </p>
          </div>
      </div>
      <div class="row">

          <div class="col-md-6 col-lg-3 pb-5">
              <div class="h-100 py-5 services-icon-wap shadow">
                  <div class="h1 text-success text-center"><i class="bi bi-truck bi-lg"></i></div>
                  <h2 class="h5 mt-4 text-center">Delivery Services</h2>
              </div>
          </div>

          <div class="col-md-6 col-lg-3 pb-5">
              <div class="h-100 py-5 services-icon-wap shadow">
                  <div class="h1 text-success text-center"><i class="bi bi-arrow-down-up"></i></div>
                  <h2 class="h5 mt-4 text-center">Shipping & Return</h2>
              </div>
          </div>

          <div class="col-md-6 col-lg-3 pb-5">
              <div class="h-100 py-5 services-icon-wap shadow">
                  <div class="h1 text-success text-center"><i class="bi bi-percent"></i></div>
                  <h2 class="h5 mt-4 text-center">Promotion</h2>
              </div>
          </div>

          <div class="col-md-6 col-lg-3 pb-5">
              <div class="h-100 py-5 services-icon-wap shadow">
                  <div class="h1 text-success text-center"><i class="bi bi-person-fill"></i></div>
                  <h2 class="h5 mt-4 text-center">24 Hours Service</h2>
              </div>
          </div>
      </div>
</section>
<!-- End Section -->

<!-- Start Brands -->
<section class="bg-light py-4">
      <div class="container my-4">
          <div class="row text-center py-3">
              <div class="col-lg-6 m-auto">
                  <h2 class="h1">Our Brands</h2>
                  <p class="lead fs-6">
                    We partner with the best brands in the business to bring you top-quality products. <br>
                    From established favorites to up-and-coming innovators, we've got the brands you love.
                  </p>
              </div>
              <div class="col-lg-9 m-auto tempaltemo-carousel">
                  <div class="row d-flex flex-row">
                      <!--Controls-->
                      <div class="col-1 align-self-center">
                          <a class="h1" href="#" role="button" data-bs-slide="prev">
                              <i class="text-light fas fa-chevron-left"></i>
                          </a>
                      </div>
                      <!--End Controls-->

                      <!--Carousel Wrapper-->
                      <div class="col">
                          <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                              <!--Slides-->
                              <div class="carousel-inner product-links-wap" role="listbox">

                                  <!--First slide-->
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_01.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_02.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_03.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_04.png" alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End First slide-->

                                  <!--Second slide-->
                                  <div class="carousel-item">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_01.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img"src="assets/images/brand_02.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_03.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_04.png" alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End Second slide-->

                                  <!--Third slide-->
                                  <div class="carousel-item">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_01.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_02.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_03.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/images/brand_04.png" alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End Third slide-->

                              </div>
                              <!--End Slides-->
                          </div>
                      </div>
                      <!--End Carousel Wrapper-->

                      <!--Controls-->
                      <div class="col-1 align-self-center">
                          <a class="h1" href="#" role="button" data-bs-slide="next">
                              <i class="text-light fas fa-chevron-right"></i>
                          </a>
                      </div>
                      <!--End Controls-->
                  </div>
              </div>
          </div>
      </div>
</section>
<!--End Brands-->


